{
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "utils": "./src/utils",
          "*": ["src/*", "node_modules/*"]
        }
      }
    ]
  ]
}
